<SPConfig xmlns="urn:mace:shibboleth:3.0:native:sp:config"
          xmlns:conf="urn:mace:shibboleth:3.0:native:sp:config"
          xmlns:saml="urn:oasis:names:tc:SAML:2.0:assertion"
          xmlns:samlp="urn:oasis:names:tc:SAML:2.0:protocol"
          xmlns:md="urn:oasis:names:tc:SAML:2.0:metadata"
          clockSkew="180">

<ApplicationDefaults 
  entityID="https://dev.openconext.local" 
  REMOTE_USER="name-id" 
  policyId="blockUnsolicited"
  signing="false" 
  encryption="false"
	signingAlg="http://www.w3.org/2001/04/xmldsig-more#rsa-sha256">
        <Sessions
          lifetime="28800"
          timeout="3600"
          checkAddress="false"
          consistentAddress="false"
          handlerURL="/Shibboleth.sso"
          exportACL="127.0.0.1"
          idpHistory="false"
          idpHistoryDays="7"
          cookieProps="; path=/; secure; HttpOnly"
          relayState="ss:mem"
          redirectLimit="exact">

          <SSO entityID="https:/engine.dev.openconext.local/authentication/idp/metadata">SAML2</SSO>
          <Logout>SAML2 Local</Logout>

          <Handler type="MetadataGenerator" Location="/Metadata" signing="false"/>
          <Handler type="Status" Location="/Status"/>
          <Handler type="Session" Location="/Session" showAttributeValues="false"/>
          <Handler type="DiscoveryFeed" Location="/DiscoFeed"/>
        </Sessions>

        <Errors 
           session="sessionError.html"
                metadata="metadataError.html"
                access="accessError.html"
                ssl="sslError.html"
                localLogout="localLogout.html"
                globalLogout="globalLogout.html"
                supportContact="${OPENCONEXT_HELP_EMAIL}"/>
        <MetadataProvider type="XML"
                          url="${SHIB_REMOTE_METADATA}"
                          backingFilePath="metadata-engine.xml"
                          reloadInterval="3600">
        </MetadataProvider>
        <!-- Map to extract attributes from SAML assertions. -->
        <AttributeExtractor type="XML" validate="true" path="attribute-map.xml"/>

        <AttributeExtractor type="Assertion" AuthenticatingAuthority="Shib-Authenticating-Authority"/>

        <!-- Use a SAML query if no attributes are supplied during SSO. -->
        <AttributeResolver type="Query" subjectMatch="true"/>

        <!-- Default filtering policy for recognized attributes, lets other data pass. -->
        <AttributeFilter type="XML" validate="true" path="attribute-policy.xml"/>

        <!-- Simple file-based resolver for using a single keypair. -->
        <!--        <CredentialResolver type="File" key="shib-sp.key" certificate="shib-sp.crt"/> -->

    </ApplicationDefaults>

    <!-- Policies that determine how to process and authenticate runtime messages. -->
    <SecurityPolicyProvider type="XML" validate="true" path="security-policy.xml"/>

    <!-- Low-level configuration about protocols and bindings available for use. -->
    <ProtocolProvider type="XML" validate="true" reloadChanges="false" path="protocols.xml"/>

</SPConfig>
